* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    padding-top: 25px;
}

#timer {
    color: blue;
}

.timeClock {
    color: red;
}

.start {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

#containerHigh {
    text-align: left;
}