* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 50px;
}

.start p {
    font-size: 24px;
}

#timer {
    color: blue;
}

.timeClock {
    color: red;
}

#containerStart {
    background-color: orange;

}

.start {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.container {
    padding: 20px;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.question {
    font-size: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 20px;
    margin: auto;
}

#buttonAnswers {
    width: 100%;
}

button {
    font-size: 24px;
    margin-top: 20px;
}

.banner {
    font-size: 18px;
    padding: 20px;
    flex-direction: column;
    width: 50%;
    margin: auto;
    text-align: left;
}

.show {
    display: flex;
}

.hide {
    display: none;
}