* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 50px;
}

#timer {
    color: blue;
}

.timeClock {
    color: red;
}

.start {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

#containerFirst {
    background-color: orange;

}


#containerHigh {
    text-align: left;
}

#question-text {

    font-size: 18px;
    color: blue;
}

#choices-container button {
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}


#container-question {
    width: 100%;
    margin-left: 25%;
    margin-right: 25%;
}